venv/
.venv/
.idea/
.git/
.gitignore

data/roboflow_export/
data/cropped_fields/
data/crnn_dataset/
data/metadata/
outputs/

notebooks/

__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

.env
.env.example

Dockerfile
docker-compose.yml
docker-compose.prod.yml
DEPLOY.md
nginx/
